.hexview {
    -hexgap: 3
}



.address {
    -fx-background-color: red
}

.address.zero {
    -fx-background-color: darkgrey
}
.address.ffff {
    -fx-background-color: lightgrey
}

.address.txt1 {
    -fx-background-color: green
}
.address.txt2 {
    -fx-background-color: yellow
}
.address.txt3 {
    -fx-background-color: blue
}
.address.txt4 {
    -fx-background-color: orange
}
.address.txt5 {
    -fx-background-color: purple
}
.address.txt6 {
    -fx-background-color: lime
}
.address.txt7 {
    -fx-background-color: lightgreen
}
.address.txt8 {
    -fx-background-color: lightred
}
.address.txt9 {
    -fx-background-color: pink
}
.address.txt10 {
    -fx-background-color: magenta
}
.address.txt11 {
    -fx-background-color: aquamarine
}
.address.txt12 {
    -fx-background-color: beige
}

.tree-table-row-cell.unknown {
    -fx-background-color: darkgrey;
}
.tree-table-row-cell.unknown:selected {
    -fx-background-color: grey;
}

.tree-table-row-cell.data {
    -fx-background-color: green
}

.tree-table-row-cell.operand .cell,
.tree-table-row-cell.operand:selected .cell {
    -fx-text-fill: lightgrey
}

.tree-table-row-cell.graphics {
    -fx-background-color: darkolivegreen;
}

.tree-table-row-cell.sound {
    -fx-background-color: yellowgreen;
}

.tree-table-row-cell.text {
    -fx-background-color: salmon;
}

.tree-table-row-cell.pointer16 {
    -fx-background-color: violet;
}

.tree-table-row-cell.pointer24 {
    -fx-background-color: fuchsia;
}

.tree-table-row-cell.fill {
    -fx-background-color: grey;
}
.tree-table-row-cell.fill:selected .cell {
    -fx-text-fill: lightgrey
}

.centercol {
    -fx-alignment: CENTER;
}